<div class="form-div">
    <div class="form-field">
        <label for="title">Titre de l'annonce</label>
        <input type="text" name="title" id="title" placeholder="Recherche talent junior" value="<%= job?.title || '' %>">
    </div>
    <div class="form-field">
        <label for="description">Description de l'offre</label>
        <textarea name="description" id="description" placeholder="..." class="description-textarea"><%= job?.description || '' %></textarea>
    </div>
    <div class="form-field">
        <label for="skills">Compétence(s) Recherchée(s)</label>
        <select name="skills" id="skills">
            <option>Sélectionnez les compétences</option>
            <% skill.forEach(aSkill => { %>
                <option><%= aSkill %></option>
            <% }) %>
        </select>
    </div>
</div>
<div class="form-div">
    <div class="form-line">
        <div class="form-field">
            <label for="type">Type de contrat</label>
            <select name="type" id="type">
                <option>Freelance, CDI, ...</option>
                <% jobTypes.forEach(type => { %>
                    <option 
                        <% if (type === job?.type) { %>
                            selected
                        <% } %>
                    ><%= type %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-field">
            <label for="startDate">Date onboarding</label>
            <% if (job?.start_date) { %>
                <input type="date" name="start_date" id="startDate" placeholder="jj/mm/aaaa" value="<%= job.start_date.toISOString().split('T')[0] %>">
            <% } else { %>
                <input type="date" name="start_date" id="startDate" placeholder="jj/mm/aaaa">
            <% } %>
        </div>
    </div>
    <div class="form-line">
        <div class="form-field">
            <label for="salary">Salaire</label>
            <input type="text" name="salary" id="salary" placeholder="... €" value="<%= job?.salary?.toString() || '' %>">
        </div>
        <div class="form-field">
            <label for="salaryUnit">Unité de salaire</label>
            <select name="salary_unit" id="salaryUnit">
                <% salaryUnit.forEach(unit => { %>
                    <option><%= unit %></option>
                <% }) %>
            </select>
        </div>
    </div>
</div>