<a href="/jobs/<%= id %>" class="job-card">
    <div class="job-card-main-content">
        <h3><%= job.title %></h3>
        <p class="card-description"><%= job.description %></p>
    </div>
    <div class="job-card-side-content">
        <ul class="job-info-list">
            <% for(let i = 0; i < 3; i++) { %>
                <li class="skill"><%= job.skills[i] %></li>
            <% } %>
        </ul>
        <% if(job.datePosted.toDateString() == (new Date()).toDateString()) { %>
            <p class="small">Publié aujourd'hui</p>
        <% } else { %>
            <p class="small"><%= job.datePosted.toLocaleString().split(" ")[0] %></p>
        <% } %>
    </div>
</a>