<%- include('../partials/head', {title:'Les annonces'}) %>
<%- include('../partials/header') %>

<main>
    <h2><%= jobOffers.length %> missions disponibles</h2>
    <section>
        <% jobOffers.forEach(jobOffer => { %>
            <%- include('../partials/jobCard', { job: jobOffer }) %>
        <% }) %>
    </section>
</main>

<%- include('../partials/footer') %>