<%- include('../partials/head', {title:'Les annonces'}) %>
<%- include('../partials/header') %>

<main>
  <section class="full-page">
    <h2><%= jobOffers.length %> missions disponibles</h2>
    <ul class="job-cards-section">
      <% jobOffers.forEach(jobOffer => { %>
        <li class="job-card-item">
          <%- include('../partials/jobCard', { job: jobOffer, id: jobOffer.id }) %>
        </li>
      <% }) %>
    </ul>
  </section>
</main>

<%- include('../partials/footer') %>
