<%- include('../partials/head', {title:'Les annonces'}) %>
<%- include('../partials/header') %>

<main>
  <section class="full-page">
    <h2><%= jobOffers.length %> missions disponibles</h2>
    <ul class="job-cards-section">
      <li>
        <% jobOffers.forEach((jobOffer, index) => { %>
          <%- include('../partials/jobCard', { job: jobOffer, id: index+1 }) %>
        <% }) %>
      </li>
    </ul>
  </section>
</main>

<%- include('../partials/footer') %>
