<%- include('../partials/head', {title:'Modifier une annonce'}) %>
<%- include('../partials/header') %>

<main class="content-page">
    <section class="content-page-btns">
        <a href="/jobs/<%= id %>" class="btn btn-primary">Annuler</a>
    </section>
    <section class="form-section">
        <h2>Édition de l'annonce : <%= job.title %></h2>
        <form action="/jobs/edit/<%= id %>" method="post" class="form">
            <%- include('../partials/passwordDiv', { errors }) %>
            <%- include('../partials/formContent', { job, errors, skill, jobTypes, salaryUnit }) %>
            <button type="submit" class="btn btn-primary">Sauvegarder les modifications</button>
        </form>
    </section>
</main>

<%- include('../partials/footer') %>